<ol class="breadcrumb">
    <li>
        <a href="" ng-click="fileNavigator.goTo(-1)">
            <i class="fa fa-globe icon-root"></i>
        </a>
    </li>
    
    <li ng-if="fileNavigator.isFavourite">        
        <a  href="" ng-show="!$last" ng-click="fileNavigator.refresh('F')">
             <i class="fa fa-star icon-root"></i>
        </a>
    </li>

    <li ng-if="fileNavigator.isRecent">
        <a ng-if="fileNavigator.isRecent" href="" ng-show="!$last" ng-click="fileNavigator.refresh('R')">
             <i class="fa fa-clock icon-root"></i>
        </a>
        
    </li>
   
    
    <li ng-repeat="(key, dir) in fileNavigator.currentPath track by key" ng-class="{'active':$last}" class="animated fast fadeIn">
        <a href="" ng-show="!$last" ng-click="fileNavigator.goTo(key)" dockey="{{fileNavigator.currentDockey}}">
            {{dir | strLimit : 8}}
           
        </a>
        <span ng-show="$last">
            {{dir | strLimit : 12}}
        </span>
    </li>
</ol>