<div>
    
    <div ng-include="config.tplPath + '/navbar-dashboard.html'"></div>
    
    <div class="row padding-row">
        <div class="module-block" ng-repeat="module in dashboardManage.dashboardApps">
                <div class="clearfix" ng-if="$index % 3 === 0"></div>
                <div class="col-sm-3">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title"><i class="fa fa-{{module.icon}} card-icon"></i>{{module.title}}</span>
                            <div><p>{{module.description}}</p><span class="number-dashboard">{{module.entriesNum}}</span></div>
                        </div>
                        <div class="card-action">
                          <!--If moduleType INT, go to internal app -->
                          <a ng-if="module.moduleType==='INT'" href="#" ng-click="goToApp(module.id)">Vai</a>
                          <!--If moduleType EXT, go to external app (url) -->
                          <a ng-if="module.moduleType==='EXT'" href="{{module.url}}" target="_blank">Vai</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>

        </div>
    </div>

    
</div>
            
