 <div class="container">

      <form class="form-signin">
        <h4 class="form-signin-heading">DDM Web Apps</h4>
        <label for="sap-user" class="sr-only">SAP Username</label>
        <input type="text" id="sap-user" class="form-control" placeholder="SAP Username" required autofocus ng-model="userManage.loginData.user">
        <label for="sap-pw" class="sr-only">SAP Password</label>
        <input type="password" id="sap-pw" class="form-control" placeholder="SAP Password" required ng-model="userManage.loginData.pw">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="userManage.login()">Log in</button>
      </form>

    </div> <!-- /container -->
