<div ng-controller="FileManagerCtrl" class="main-page">

    <div ng-if="!userManage.isUserLoggedIn()" ng-include="config.tplPath + '/login.html'"></div>
    
    <div ng-if="userManage.isUserLoggedIn()">
        <div ng-if="currentApp === 'explorer'" ng-include="config.tplPath + '/explorer.html'"></div>
        <div ng-if="currentApp === 'dashboard'" ng-include="config.tplPath + '/dashboard-view.html'"></div>
    </div>
    
</div>
            
