<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        
        <div class="row">
            <!--Logo-->
            <div class ="col-sm-3 col-md-3 hidden-xs">
 
                <img alt="{{config.companyName}}" src="{{config.logo}}" id="company-logo" ng-click="goToApp('dashboard')">

            </div>
            
            <div class ="col-sm-3 col-md-5 search-bar">
                <div class="navbar-form ">
                    <div class="btn-group full-group-width">
  
                            <!--<i class="glyphicon glyphicon-search mr2"></i>-->
                         
                            <span class="glyphicon glyphicon-search mr2" id="search-icon"></span>
                            <input type="text" class="form-control full-input custom-input" ng-show="config.searchForm" placeholder="{{'search' | translate}}..." ng-model="$parent.query">
                            
                            <span class="glyphicon glyphicon-chevron-down mr2 dropdown-toggle" id="search-drop-icon" data-toggle="dropdown"></span>


                        <div class="dropdown-menu dropdown-menu-search" aria-labelledby="search-drop-icon">

                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Type</span>
                                <input type="text" class="form-control" placeholder="Type" aria-describedby="basic-addon1">
                            </div>

                            <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Status</span>
                            <input type="text" class="form-control" placeholder="Status" aria-describedby="basic-addon2">
                        </div>
                            <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Approval</span>
                            <input type="text" class="form-control" placeholder="Approval" aria-describedby="basic-addon2">
                        </div>
                            
                        </div>
                           
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="row">
            
            <!--New button-->
            <div class="col-sm-9 col-md-2 hidden-xs">
                <div class="navbar-form navbar-left text-left">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="more" data-toggle="dropdown" aria-expanded="true">
                            NEW
                        </button>

                        <ul class="dropdown-menu scrollable-menu animated fast fadeIn" role="menu" aria-labelledby="more">
                            <li role="presentation" ng-show="config.allowedActions.createFolder" ng-click="modal('newfolder') && prepareNewFolder()">
                                <a href="" role="menuitem" tabindex="-1">
                                    <i class="glyphicon glyphicon-plus"></i> {{"new_folder" | translate}}
                                </a>
                            </li>
                            <li role="presentation" ng-show="config.allowedActions.upload" ng-click="modal('uploadfile')">
                                <a href="" role="menuitem" tabindex="-1">
                                    <i class="glyphicon glyphicon-cloud-upload"></i> {{"upload_files" | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
            <!--BreadCumb-->
            <div class="col-sm-9 col-md-8 hidden-xs">
                <div ng-show="!config.breadcrumb">
                    <a class="navbar-brand hidden-xs ng-binding" href="">angular-{{"filemanager" | translate}}</a>
                </div>
                <div ng-include="config.tplPath + '/current-folder-breadcrumb.html'" ng-show="config.breadcrumb">
                </div>
            </div>
            
            <!--Action buttons-->
            <div class="col-sm-3 col-md-2">
                <div class="navbar-collapse">
                    <div class="navbar-form navbar-right text-right">
                        <div class="pull-left visible-xs" ng-if="fileNavigator.currentPath.length">
                            <button class="btn btn-primary btn-flat" ng-click="fileNavigator.upDir()">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                            </button>
                            {{fileNavigator.getCurrentFolderName() | strLimit : 12}}
                        </div>
                        
                        
                        
                        <div class="btn-group">
                            <button class="btn btn-flat btn-sm dropdown-toggle" type="button" id="dropdownTags" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-tags"></i>
                            </button>

                            <ul class="dropdown-menu scrollable-menu animated fast fadeIn pull-right" role="menu" aria-labelledby="dropdownTags">
                                <li role="presentation"><a role="menuitem" href="#" tabindex="-1" ng-click="modal('manage-tags')"> <i class="fa fa-plus-circle"></i>Crea nuova etichetta</a></li>
                                
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="">tag1</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="">tag2</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="">tag3</a></li>
                                
                            </ul>
                        </div>
                        
                        <button class="btn btn-flat btn-sm" ng-click="$parent.setTemplate('main-icons.html')" ng-show="$parent.viewTemplate !=='main-icons.html'" title="{{'icons' | translate}}">
                            <i class="glyphicon glyphicon-th-large"></i>
                        </button>

                        <button class="btn btn-flat btn-sm" ng-click="$parent.setTemplate('main-table.html')" ng-show="$parent.viewTemplate !=='main-table.html'" title="{{'list' | translate}}">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </button>

                        <div class="btn-group">
                            <button class="btn btn-flat btn-sm dropdown-toggle" type="button" id="dropDownMenuLang" data-toggle="dropdown" aria-expanded="true" ng-show="config.multiLang">
                                <i class="glyphicon glyphicon-globe mr2"></i>
                            </button>

                            <ul class="dropdown-menu scrollable-menu animated fast fadeIn pull-right" role="menu" aria-labelledby="dropDownMenuLang">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('en')">English</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('zh_tw')">正體中文</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('zh_cn')">简体中文</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('es')">Español</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('nl')">Nederlands</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('pt')">Portugues</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('fr')">Français</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('de')">Deutsch</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('he')">עברי</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('it')">italiano</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('sk')">Slovenčina</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('ru')">русский</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('ua')">український</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('tr')">Türkçe</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('fa')">فارسی</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('pl')">Polski</a></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            
            
            
        </div>
        
        
        
    </div>
</nav>
