<div class="list-group">
    <a href="#" class="list-group-item list-sidebar" ng-click="fileNavigator.refresh('E')">  <span class="fa fa-globe icon-list" aria-hidden="true"></span> Explorer</a>
</div>

<ul class="nav nav-sidebar file-tree-root">
    <li ng-repeat="item in fileNavigator.history"  ng-include="'folder-branch-item'" ng-class="{'active': item.name == fileNavigator.currentPath.join('/')}"></li>
</ul>

<div class="list-group">
    <a href="#" class="list-group-item list-sidebar" ng-click="fileNavigator.refresh('R')">  <span class="far fa-clock icon-list" aria-hidden="true"></span> Recent</a>
    <a href="#" class="list-group-item list-sidebar" ng-click="fileNavigator.refresh('F')">  <span class="far fa-star icon-list" aria-hidden="true"></span> Starred</a>
    <a href="#" class="list-group-item list-sidebar"> <span class="far fa-trash-alt icon-list" aria-hidden="true"></span> Trash </a>
</div>

<script type="text/ng-template" id="folder-branch-item">
    <a href="" ng-click="fileNavigator.folderClick(item.item, fileNavigator.isFavourite, fileNavigator.isRecent)" class="animated fast fadeInDown" ng-if="item.name!==''">

        <span class="point">
            <i class="fa fa-angle-down" ng-show="isInThisPath(item.name)"></i>
            <i class="fa fa-angle-right" ng-show="!isInThisPath(item.name)"></i>
        </span>

        <i class="far fa-folder-open mr2" ng-show="isInThisPath(item.name)"></i>
        <i class="far fa-folder" ng-show="!isInThisPath(item.name)"></i>
        {{ (item.name.split('/').pop() || fileNavigator.getBasePath().join('/') || '/') | strLimit : 30 }}
    </a>
    <ul class="nav nav-sidebar">
        <li ng-repeat="item in item.nodes" ng-include="'folder-branch-item'" ng-class="{'active': item.name == fileNavigator.currentPath.join('/')}"></li>
    </ul>
</script>