<table class="table mb0 table-files noselect">
    <thead>
        <tr>
            <th>
                <a href="" ng-click="order('model.name')">
                    {{"name" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.name'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-xs" ng-hide="config.hideSize">
                <a href="" ng-click="order('model.size')">
                    {{"size" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.size'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-sm hidden-xs" ng-hide="config.hideDate">
                <a href="" ng-click="order('model.date')">
                    {{"date" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.date'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-sm hidden-xs" ng-hide="config.hidePermissions">
                <a href="" ng-click="order('model.permissions')">
                    {{"permissions" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.permissions'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            
            <!--Custom: status-->
            <th class="hidden-sm hidden-xs" ng-hide="config.hideStatus">
                <a href="" ng-click="order('model.status')">
                    {{"status" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.status'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            
            <!--Custom: version-->
            <th class="hidden-sm hidden-xs" ng-hide="config.hideVersion">
                <a href="" ng-click="order('model.version')">
                    {{"version" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.version'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            
            <!--Custom: Notes and tags-->
            <th class="hidden-sm hidden-xs" ng-hide="config.hideExtra">
                <!--{{"extra" | translate}}-->
            </th>
            
            
            
        </tr>
    </thead>
    <tbody class="file-item">
        <tr ng-show="fileNavigator.requesting">
            
            <td colspan="5">
                <div ng-include="config.tplPath + '/spinner.html'"></div>
            </td>
            
        </tr>
        
        <tr ng-show="!fileNavigator.requesting &amp;&amp; fileNavigator.fileList.length < 1 &amp;&amp; !fileNavigator.error">
            <td colspan="5">
                {{"no_files_in_folder" | translate}}...
            </td>
        </tr>
        
        <tr ng-show="!fileNavigator.requesting &amp;&amp; fileNavigator.error">
            <td colspan="5">
                {{ fileNavigator.error }}
            </td>
        </tr>
        
        <tr class="item-list" ng-repeat="item in $parent.fileList = (fileNavigator.fileList | filter: {model:{name: query}} | orderBy:predicate:reverse)" ng-show="!fileNavigator.requesting" ng-click="selectOrUnselect(item, $event)" ng-dblclick="smartClick(item)" ng-right-click="selectOrUnselect(item, $event)" ng-class="{selected: isSelected(item)}">
            <!--Name and favourite star-->
            <td>
                <a href="" title="{{item.model.name}} ({{item.model.size | humanReadableFileSize}})">
                    <i class="far fa-folder" ng-show="item.model.type === 'dir'"></i>
                    <i class="{{item.model.icon}}" ng-show="item.model.type === 'file'"></i>
                    {{item.model.name | strLimit : 64}}
                    
                    <span>
                        <i class="fa fa-star is-favourite"  ng-show="item.model.favourite === true"></i>
                    </span>
                    
                </a>
            </td>
            
            <!--Type-->
            <td class="hidden-xs">
                <span ng-show="item.model.type !== 'dir' || config.showSizeForDirectories">
                    {{item.model.size | humanReadableFileSize}}
                </span>
            </td>
            
            <!--Date-->
            <td class="hidden-sm hidden-xs" ng-hide="config.hideDate">
                {{item.model.date | formatDate }}
            </td>
            
            <!--Permissions-->
            <td class="hidden-sm hidden-xs" ng-hide="config.hidePermissions">
                {{item.model.perms.toCode(item.model.type === 'dir'?'d':'-')}}
            </td>
            
            <!--Custom: Status-->
            <td class="hidden-sm hidden-xs" ng-hide="config.hideStatus">
                {{item.model.status}}
            </td>
            
            <!--Custom: Version-->
            <td class="hidden-sm hidden-xs" ng-hide="config.hideVersion">
                {{item.model.version}}
            </td>
            
            <!--Custom: Notes-Tags-etc. -->
            <td class="hidden-sm hidden-xs extra-info-column" ng-hide="config.hideExtra">
                <i ng-click=""  class="fa fa-sticky-note notes-icon"></i>
                <i ng-mouseover="fileNavigator.createLabels(item.model)" ng-mouseleave="fileNavigator.resetLabels()" ng-click="fileNavigator.currentLabels" tooltips tooltip-template="{{fileNavigator.currentLabels}}" class="fa fa-tags tags-icon"></i>
            </td>
            
        </tr>
    </tbody>
</table>
