<!--Riferimento-->
<div class="input-group">
    <input type="text" maxlength="16" class="form-control" placeholder="Nr. Documento" id="dokar" ng-model="fileNavigator.uploadModel.xblnr">
    <span class="input-group-addon" id="reference"><i class="far fa-file-alt"></i></span>
</div>

<!--Data-->
<div class="input-group">
    <input type="text" class="form-control datepicker-input" id="invoice-date" placeholder="Data fattura" aria-describedby="date-icon" ng-model="fileNavigator.uploadModel.bldat">       
    <span class="input-group-addon" id="date-icon"><i class="far fa-calendar-alt"></i></span>
</div>

<!--Importo-->
<div class="input-group">
    <select class="selectpicker form-control custom-option-left" ng-model="fileNavigator.uploadModel.waers">
        <option selected value="EUR">€</option>
        <option value="USS">$</option>
        <option value="GBP">₤</option>
    </select>
    <input type="number" maxlength="13" class="form-control custom-input-right" min="0" placeholder="Importo totale" aria-describedby="currency" ng-model="fileNavigator.uploadModel.wrbtr">
    <!--<span class="input-group-addon" id="currency"><i class="fa fa-euro-sign"></i></span>-->
</div>

<!--Destinatario-->
<div class="input-group">    
    <select class="selectpicker form-control" ng-model="fileNavigator.uploadModel.burks" aria-describedby="recipient-icon">
        <option disabled selected value="">Destinatario</option>
        <option value="AW10">Alfasigma S.p.A.</option>
    </select>
    <span class="input-group-addon" id="recipient-icon"><i class="far fa-building"></i></span>
</div>

<!--Note-->
<div class="input-group">  
    <input type="text" maxlength="50" class="form-control" id="notes" placeholder="Note" aria-describedby="notes-icon" ng-model="fileNavigator.uploadModel.note">         
    <span class="input-group-addon" id="notes-icon"><i class="fa fa-pencil-alt"></i></span>
</div>