<!--Data inizio validità-->
<div class="input-group">
    <input type="text" class="form-control datepicker-input" id="invoice-date" placeholder="Data inizio validità" aria-describedby="date-icon" ng-model="fileNavigator.uploadModel.bldat">       
      <span class="input-group-addon" id="date-icon"><i class="far fa-calendar-alt"></i></span>
</div>

<!--Data fine validità-->
<div class="input-group">
    <input type="text" class="form-control datepicker-input" id="invoice-date" placeholder="Data fine validità" aria-describedby="date-icon2" ng-model="fileNavigator.uploadModel.wrbtr">       
     <span class="input-group-addon" id="date-icon2"><i class="far fa-calendar-alt"></i></span>
</div>

<!--Destinatario-->
<div class="input-group">    
    <select class="selectpicker form-control" ng-model="fileNavigator.uploadModel.burks" aria-describedby="recipient-icon" placeholder="Destinatario">
        <option disabled selected value="">Destinatario</option>
        <option value="soc1">Soc1</option>
        <option value="soc2">Soc2</option>
        <option value="soc3">Soc3</option>
    </select>
    <span class="input-group-addon" id="recipient-icon"><i class="far fa-building"></i></span>
</div>

<!--Note-->
<div class="input-group">  
    <input type="text" maxlength="50" class="form-control" id="notes" placeholder="Note" aria-describedby="notes-icon" ng-model="fileNavigator.uploadModel.note">         
    <span class="input-group-addon" id="notes-icon"><i class="fa fa-pencil-alt"></i></span>
</div>